<!DOCTYPE html>
<html>
<head>
    <title>Flask dinamico</title>
</head>
<body>

    <h1>Hola {{ nombre }}</h1>

    {% if nombre == 'Marthin' %}
        <p>Bienvenido administrador</p>
    {% else %}
        <p>Bienvenido usuario</p>
    {% endif %}

    {% if age >= 18 %}
        <p>Eres mayor de edad porque tienes {{ age }}</p>
    {% else %}
        <p>Eres menor de edad porque tienes {{ age }}</p>
    {% endif %}

    <h2>Productos</h2>
    <ul>
        {% for product in products %}
            <li>{{ product }}</li>
        {% endfor %}
    </ul>

</body>
</html>